*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{
    height: fit-content;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
}

.conteinerSearch{
    height: fit-content;
    width: auto;
    background-color: #1E7596;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 8%;
}

.logo img{
    width: 95px;
    height: 95px;

}

.fotoPerfil{
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-color: #C4C4C4;
    position: absolute;
    right: 8%;
}

.conteinerTitulo{
    height: 65px;
    width: auto;
    background-color: #DCEBF2;
    display: flex;
    align-items: center;
}

.conteinerTitulo h1{
    font-size: 32px;
    color: #2795D2;
    margin-top: 8px;
    margin-left: 12vw;
}

main{
    padding-bottom: 150px;
    height: auto;
    width: auto;
    padding-top: 75px;
    padding-inline-start: 21%;
    padding-inline-end: 21%;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.menuVagas{
    height: 70px;
    width: 55.5vw;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}

.menuVagas .menuItens{
    background-color: #fefefe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menuVagas p{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    color: #2795D2;
}

.menuVagas a{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
}

.filtros{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 18vw;
    background-color: #fefefe;
    border-radius: 5px;
}

.filtros .tituloFiltros{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtros .filtrosDeficiencia{
    display: flex;
    flex-direction: column;
}

.filtros .tituloDeficiencia{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtros .opcoesDeficiencia{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.filtros .opcoesDeficiencia .checkbox{
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.filtros .filtrosRegiao{
    display: flex;
    flex-direction: column;
}

.filtros .tituloRegiao{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtros  .selectEstado{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 40px;
}

.filtros .selectEstado select{
    width: 5vw;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.filtros .selectCidade{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 40px;
}

.filtros .selectCidade select{
    width: 10vw;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.filtros .tituloTipoVaga{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtros .radioTipoVaga{
    display: flex;
    flex-direction: column;
}

.filtros .radioTipoVaga .inputTipoVaga{
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 45px;
}

.filtros .nivelAcademico{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.filtros .nivelAcademico .tituloNivelAcademico{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtros .nivelAcademico .selectNivelAcademico{
    margin-top: 25px;
    margin-left: 40px;
}

.filtros .nivelAcademico .selectNivelAcademico select{
    width: 10vw;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.filtros .botaoAplicar{
    align-self: flex-end;
}

.filtros .botaoAplicar button{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 5vw;
    border-radius: 10px;
    background-color: #1E7596;
    color: white;
    border: none;
    margin-bottom: 25px;
    margin-right: 35px;
}

.candidatosConteiner{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    gap: 45px;
}

.candidatosConteiner .candidatos{
    height: fit-content;
    width: 35vw;
    background-color: #fefefe;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.candidatos .headerCandidatos{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.headerCandidatos .informacaoCandidatos{
    display: flex;
    flex-direction: row;
}

 .headerCandidatos .imgEmpresa img{
    width: 125px;
    height: 125px;
    margin-top: 35px;
}

 .headerCandidatos .conteudoCandidato{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.candidatos .headerCandidatos .conteudoCandidato h1{
    margin-top: 25px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.conteudoCandidato .localCandidato{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.conteudoCandidato .localCandidato img{
    height: 25px;
    width: 25px;
}

.candidatos .headerCandidatos .candidatoAtivo{
    display: flex;
    font-size: 16px;
    color: #AA3E3E;
    font-family: 'Poppins', sans-serif;
    margin-top: 38px;
    margin-bottom: 5px;
    border: none;
    background-color: white;
}

.headerCandidatos .candidatoAtivo img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.candidatos .footerCandidatos{
    width: 30vw;
    display: flex;
    justify-content: right;
    column-gap: 25px;
    margin-bottom: 25px;
}

.candidatos .tipoDeficiencia{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: fit-content;
    border-radius: 10px;
    background-color: #2795D2;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
}

.candidatos .tipoDeficiencia h2{
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.candidatos .footerCandidatos .botaoCandidatos button{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 7vw;
    border-radius: 10px;
    background-color: white;
    color: #1E7596;
    border: 2px solid #1E7596;
    margin-top: 25px;
}

.candidatos .footerCandidatos .botaoSaibaMais button{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 7vw;
    border-radius: 10px;
    background-color: #1E7596;
    color: white;
    border: none;
    margin-top: 25px;
}

footer{
    min-height: 70px;
    height: 7vh;
    width: auto;
    background-color: #1E7596;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

.versao{
    position: absolute;
    right: 5%;
}

@media (min-width:800px) and (max-width:1720px){
    main{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 75px;
    }

    .menuVagas{
        margin-bottom: 10px;
    }

    .filtros{
    height: fit-content;
    width: 45vw;
    background-color: #fefefe;
    border-radius: 5px;
    }

    .candidatosConteiner .candidatos{
        width: 45vw;
    }

    .candidatosConteiner .candidatos .headerCandidatos{
        justify-content: center;
    }

    .candidatosConteiner .candidatos .tipoDeficiencia h2{
        font-size: 0.75rem;
    }

    .candidatosConteiner .candidatos .footerCandidatos .botaoCandidatos button{
        font-size: 0.75rem;
    }
    
    .candidatosConteiner .candidatos .footerCandidatos .botaoSaibaMais button{
        font-size: 0.75rem;
    }

    footer p{
        font-size: 15px;
    }
}