*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* 
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }


 */










body{
    height: fit-content;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
}

.conteinerSearch{
    height: fit-content;
    width: auto;
    background-color: #1E7596;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 8%;
}

.logo img{
    width: 95px;
    height: 95px;

}

.barraPesquisa{
    height: 50px;
    width: 15vw;
    margin-left: 100px;
    border-radius: 100px;
    display: flex;
    background: #FFFF;
}

.barraPesquisa input{
    width: 82%;
    border-radius: 100px;
    border: none;
    background: transparent; 
    margin:5px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
}

.barraPesquisa img{
    margin:5px auto;
}

.fotoPerfil{
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-color: #C4C4C4;
    position: absolute;
    right: 8%;
}

.conteinerTitulo{
    height: 65px;
    width: auto;
    background-color: #DCEBF2;
    display: flex;
    align-items: center;
}

.conteinerTitulo h1{
    font-size: 32px;
    color: #2795D2;
    margin-top: 8px;
    margin-left: 12vw;
}

main{
    width: auto;
    padding-top: 75px;
    /* padding-inline-start: 22%;
    padding-inline-end: 22%; */
    width: auto;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.filtros{
    height: fit-content;
    width: 18vw;
    background-color: #fefefe;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.filtros .tituloFiltros{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtros .filtrosDeficiencia{
    display: flex;
    flex-direction: column;
}

.filtros .filtrosDeficiencia .tituloDeficiencia{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtros .filtrosDeficiencia .opcoesDeficiencia{
    margin-left: 45px;
    display: flex;
    flex-direction: column;
}

.filtros .filtrosDeficiencia .opcoesDeficiencia .checkbox{
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding-right: 100px;
}

.filtros .filtrosRegiao{
    display: flex;
    flex-direction: column;
}

.filtrosRegiao .tituloRegiao{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtrosRegiao .selectEstado{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 40px;
}

.filtrosRegiao .selectEstado select{
    width: 5vw;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.filtrosRegiao .selectCidade{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 40px;
}

.filtrosRegiao .selectCidade select{
    width: 10vw;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.filtrosSalario .tituloSalario{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.filtrosSalario .radioSalario{
    display: flex;
    flex-direction: column;
}

.radioSalario .inputSalario{
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 45px;
}

.filtros .suporteOferecido{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.suporteOferecido .tituloSuporte{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
}

.suporteOferecido .selectSuporte{
    margin-top: 25px;
    margin-left: 40px;
}

.suporteOferecido .selectSuporte select{
    width: 10vw;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.filtros .botaoAplicar{
    align-self: flex-end;
}

.filtros .botaoAplicar button{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 5vw;
    border-radius: 10px;
    background-color: #1E7596;
    color: white;
    border: none;
    margin-bottom: 25px;
    margin-right: 35px;
}

.perfil{
    height: fit-content;
    width: 55vw;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #fefefe;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.perfilConteudo{
    border-bottom: 2px solid rgb(156, 156, 156);
    margin-bottom: 20px;
}

.descricaoEmpresa{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-bottom: 20px;
}


.empresaConteudo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    column-gap: 3.5vw;
}

.vagasConteiner{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    gap: 45px;
}

.vagasConteiner .vagas{
    height: fit-content;
    width: fit-content;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #fefefe;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagasConteiner .vagas .headerVagas{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.informacaoVaga{
    display: flex;
    flex-direction: row;
}

.imgEmpresa img{
    width: 125px;
    height: 125px;
    margin-top: 35px;
}

.conteudoVaga{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.conteudoVaga h1{
    margin-top: 25px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.empresaVaga{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

 .empresaVaga img{
    height: 25px;
    width: 25px;
}

.vagasConteiner .vagas .headerVagas .salvarVaga button{
    display: flex;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.46);
    font-family: 'Poppins', sans-serif;
    margin-top: 38px;
    margin-bottom: 5px;
    border: none;
    background-color: white;
}

.vagasConteiner .vagas .headerVagas .salvarVaga img{
    height: 25px;
    width: 25px;
}

.vagasConteiner .vagas .footerVagas{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.vagasConteiner .vagas .footerVagas .tipoDeficiencia{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: fit-content;
    border-radius: 10px;
    background-color: #2795D2;
    margin-top: 25px;
    padding: 5px 20px 5px 20px;
}

.vagasConteiner .vagas .footerVagas .tipoDeficiencia h2{
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.vagasConteiner .vagas .footerVagas .botaoSaibaMais button{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 7vw;
    border-radius: 10px;
    background-color: #1E7596;
    color: white;
    border: none;
    margin-top: 25px;
}

footer{
    min-height: 70px;
    height: 7vh;
    width: auto;
    background-color: #1E7596;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

.versao{
    position: absolute;
    right: 5%;
}

@media (min-width:800px) and (max-width:1720px){
    main{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 75px;
    }

    .filtros{
    height: fit-content;
    width: 45vw;
    background-color: #fefefe;
    border-radius: 5px;
    }

    .empresaConteudo{
        flex-direction: column-reverse;
    }

    .vagasConteiner .vagas{
        width: 45vw;
    }

    .vagasConteiner .vagas .headerVagas{
        justify-content: center;
    }

    .vagasConteiner .vagas .footerVagas .tipoDeficiencia h2{
        font-size: 0.75rem;
    }

    .vagasConteiner .vagas .footerVagas .botaoSaibaMais button{
        font-size: 0.75rem;
    }

    footer p{
        font-size: 15px;
    }
}